<div class="item">
    <div class="header">
        <div class="title">
            <h3>{{company}}</h3>
            <div class="subtitle">{{position}}</div>
        </div>
        <span class="date">{{date}}</span>
    </div>
    <ul>
        {{#each details}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>